/* === BANNIÈRE === */
header.banner {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

header.banner img {
  width: 100vw;
  height: auto;
  display: block;
  object-fit: cover;
}


/* === MENU DE NAVIGATION === */
#nav-menu {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

#nav-menu nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: var(--nav-link);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--nav-hover);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

/* === BOUTON BURGER === */
.burger {
  display: none;
  font-size: 30px;
  background: none;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  padding: 10px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  #nav-menu {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  #nav-menu nav {
    flex-direction: column;
    gap: 10px;
  }

  #nav-menu nav a {
    padding: 10px;
    color: var(--nav-link);
  }

  #nav-menu:not(.active) nav {
    display: none;
  }

  #nav-menu.active nav {
    display: flex;
  }
}
